@model LTWeb06_Bai01.Models.SanPham

@{
    ViewBag.Title = "SanPhamTheoId";
}
<style>
    th, td{
       vertical-align: middle
    }
</style>

<table class="table table-bordered">
    <thead>
        <tr class="bg-primary">
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Giới thiệu sách</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.MaSanPham</td>
            <td>@Model.TenSP</td>
            <td>@Model.Gia</td>
            <td>@Model.GhiChu</td>
            <td><img style="width:100px; height:200px" src="@Url.Content("~/Content/Images/" + @Model.Hinh)"/></td>
        </tr>
    </tbody>
</table>
