@model IEnumerable<LTWeb06_Bai01.Models.CTHoaDon>

@{
    ViewBag.Title = "CTHoaDon";
}

<h2>CTHoaDon</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaHD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
    </tr>
}

</table>
